.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note
{
    font-size: 15px;
    color: black;
}
body
{
    background-size: 1000px;
    background-image:url("music background.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
}
#song
{
    font-size: 23px;
    margin: 15px;
}
canvas
{
    border: 5px solid cornsilk;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #73cfd8;
}